<table align="center">
  <tbody>
    <tr>
      <td>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{input class="mdl-textfield__input" type="text" id="nome"}}
            <label class="mdl-textfield__label" for="nome">Nome</label>
        </div>
      </td>
      <td>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{input class="mdl-textfield__input" type="text" id="email"}}
            <label class="mdl-textfield__label" for="email">E-mail</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{input class="mdl-textfield__input" type="password" id="senha"}}
            <label class="mdl-textfield__label" for="senha">Senha</label>
        </div>
      </td>
      <td>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{input class="mdl-textfield__input" type="password" id="confirmar_senha"}}
            <label class="mdl-textfield__label" for="confirmar_senha">Confirmar senha</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <button {{action "criarUsuario"}} class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="float:right;">
          Criar
        </button>
      </td>
    </tr>
  </tbody>
</table>
{{outlet}}
